node_modules
.env
scripts/

# Test Folders
test/
tests/
__tests__/
coverage/
.pytest_cache/
.jest/

# Local Dev Files
ip.json
ip.txt
error.log
*.log

# Checklists & QA Checklists
BreedSmart_QA_Checklist.txt
*checklist*
*Checklist*

# Firebase Private Credentials
*firebase-adminsdk*.json
breedsmart-adcbb-firebase-adminsdk-fbsvc-1214b269c1.json