@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald, corporate, dark, night;
}

@custom-variant dark (&:is(.dark *, [data-theme="night"] *));

:root {
  --font-outfit: "Outfit", sans-serif;
  /* Custom Dark Green from reference image */
  --color-custom-green: #074033;
}

body {
  font-family: var(--font-outfit);
}

@keyframes progress-timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-progress {
  animation: progress-timer 5000ms linear forwards;
}
